

@-moz-keyframes gradientScroll{
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}	
}
@keyframes gradientScroll{
    0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

.masked{
	background:linear-gradient(135deg, red, violet 50%, blue);
	-webkit-background:linear-gradient(135deg, red, violet 50%, blue);
	-moz-background:linear-gradient(135deg, red, violet 50%, blue);
	background-size:400% 400%;
	background-clip:text;
	-moz-background-clip:text;
	animation: gradientScroll 5s ease infinite;
	-moz-animation:gradientScroll 5s ease infinite;

}

h1{
	font-family: Helvetica, arial, sans-serif;
	font-size:120px;
	font-weight:bold;
	text-transform:uppercase;
	text-align:center;
	letter-spacing:.25em;
	color: rgba(255,255,255,0.3);
	
}


