/* Google Font */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

/* Font Icons from WeLoveIconFonts */
@import url(http://weloveiconfonts.com/api/?family=entypo);

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

.entypo-mail {
  margin-right: 10px;
}

/* ClearFix Hack */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after { clear: both; }

/* For IE 6/7 only */
.cf { *zoom: 1; }

html, body{
	
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	font-size:16px;
	font-family:'Open Sans', Sans Serif;
	font-weight:300;
	background-color:#24dbba;	
}

.wrapper{
	
	width:820px;
	margin:0 auto;
	padding:0;
	
}

.wrapper>li{
	
	display:inline;
	margin:0;
	
}

.info-box-green{
	margin:50px auto;
	padding:0px;
	width:480px;
	-moz-box-shadow:0px 8px 6px -6px #000;
	box-shadow:0px 8px 6px -6px #000;
	
}


.info-box-green h4, .info-box-green > .info-content >.text{
	
	background-color:#40bf42;
}
.info-box-green h4{
	
	color:#fff;
	padding:25px;
	font-size:1.125em;
	font-weight:400;
	margin:0;
}

.info-box-green > .info-content > .text{
	padding:0;
	overflow:hidden;
	font-size:1em;
	height:0;
	line-height:1.5em;
	color:#fff;
	-moz-transition: height 200ms ease;
	transition:  height 200ms ease;
	
}

.image-box img{
	
	display:block;
    margin:0px auto;
}

.info-box-green > .info-content > .text > p{
	
	padding:20px 20px 60px;
}

.info-box-green > .info-content > .text.open-green{
	display:block;
	height:auto;
}


.info-box-green > .info-content > span.close-green{
	
	-moz-transform: rotate(135deg);
}

h2{
	color:#fff;
	text-align:center;
	text-transform:uppercase;
}

.info-box-green span{
	
	display:inline-block;
	float:right;
	position:relative;
	bottom:60px;
	right:10px;
	padding:10px;
	margin:0;
	color:#fff;
	cursor:pointer;
	font-size:2em;
	
	  /*  Rotate '+' to 'X' */
  -webkit-transition: all 600ms ease-in-out; 
     -moz-transition: all 600ms ease-in-out; 
       -o-transition: all 600ms ease-in-out; 
      -ms-transition: all 600ms ease-in-out; 
          transition: all 600ms ease-in-out;
}


